* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  /* background: #1f1f1f; */
  background: white;
}

body {
  margin: 0;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
li{
  list-style-type: none;
}