* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: rgb(26,115,232);
  margin: 0;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
li{
  list-style-type: none;
}