.lineThrough{
    text-decoration: line-through;
}

.ToDo{
    display: flex;
    width: 400px;
}

.container {
    margin-top: 30px;
    padding: 20px;
}

.container .wrapper {
    margin: 0 auto;
    background-color: rgb(30, 30, 30);
    padding: 0px;
}

.container li {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.3rem;
    border-radius: 5px;
}

.container li:last-child{
    margin-bottom: 0;
}

.container button {
    font-size: 15px;
    height: 1.8rem;
    width: 3.8rem;
    border: none;
    background: rgb(30, 30, 30);
    color: white;
}

.container button:hover {
    opacity: 0.9;
}